<a href="https://colab.research.google.com/github/PandeySunny/About/blob/main/..ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Data Science Tools and Ecosystem

## Introduction

In this notebook, we summarize some of the popular tools, libraries, and languages used by data scientists. Additionally, we demonstrate a few basic arithmetic operations using Python code.

## Data Science Languages

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala  
6. Java

## Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:

- **Pandas**
- **NumPy**
- **Matplotlib**
- **Scikit-learn**
- **TensorFlow**
- **Keras**

## Data Science Tools

| Category          | Tool               |
|------------------|--------------------|
| IDE              | Jupyter Notebook   |
| IDE              | RStudio            |
| Visualization    | Tableau            |
| Machine Learning | TensorFlow         |
| Machine Learning | Scikit-learn       |

## Arithmetic Expression Examples

Below are some examples of simple arithmetic expressions using Python.

In [6]:
#This expression multiplies 3 by 4 and then adds 5
(3 * 4) + 5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives

- List popular languages for Data Science  
- List commonly used libraries  
- Use Markdown to create tables  
- Perform simple arithmetic operations  
- Convert units using Python code

## Author

**PANDEY SUNNY**